<!DOCTYPE HTML>
<html>
<head>
    <title>з</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <form method="post">
            <input type="text" name="tag" placeholder="Введите название заметки.">
            <input type="text" name="text" placeholder="Введите заметку.">
            <button type="submit">Добавить</button>
        </form>
    </div>

{{#notes}}
    <div align="centre">
        Список заметок
            <b>ID {{id}}</b>
            <span>Name {{tag}}</span>
            <span>Text {{text}}</span>
    </div>
{{/notes}}
</body>
</html>