<context:component-scan base-package="com.test.note" xmlns:context="http://www.springframework.org/schema/context"/>
<bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/>
<mvc:default-servlet-handler/>
<bean id="viewResolver"
      class="org.springframework.web.servlet.view.UrlBasedViewResolver">
<property name="viewClass"
          value="org.springframework.web.servlet.view.JstlView" />
<property name="prefix" value="/resources/templates/"/>
<property name="suffix" value=".tfl" />
</bean>
